.animation\:slide-down{
    animation: slide-down .2s ease 1;
}

.transform\:translate\:half {
    transform: translate(-50%, -50%);
}

.animation\:fade {
    transition: opacity 1s ease;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-40px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.transition{
    transition: all .2s ease;
}

.navbar-show {
    max-height: 200px !important;
}
