/*  Margin */

@each $size in $sizes {
    .margin\:#{$size} {
        margin: #{$size}px;
    }
    .margin-top\:#{$size} {
        margin-top: #{$size}px;
    }
    .margin-left\:#{$size} {
        margin-left: #{$size}px;
    }
    .margin-right\:#{$size} {
        margin-right: #{$size}px;
    }
    .margin-bottom\:#{$size} {
        margin-bottom: #{$size}px;
    }
    .margin-side\:#{$size} {
        margin-right: #{$size}px;
        margin-left: #{$size}px;
    }

    .padding\:#{$size} {
        padding: #{$size}px;
    }
    .padding-top\:#{$size} {
        padding-top: #{$size}px;
    }
    .padding-left\:#{$size} {
        padding-left: #{$size}px;
    }
    .padding-right\:#{$size} {
        padding-right: #{$size}px;
    }
    .padding-bottom\:#{$size} {
        padding-bottom: #{$size}px;
    }
    .padding-side\:#{$size} {
        padding-right: #{$size}px;
        padding-left: #{$size}px;
    }
}

.margin\:a {
    margin: auto;
}
.margin-left\:a {
    margin-left: auto;
}
.margin-right\:a {
    margin-right: auto;
}
