/*  Position */

.position\:relative {
	position: relative;
}
.position\:absolute {
	position: absolute;
}
.position\:fixed {
	position: fixed;
}

@each $size in $sizes {
	.top\:#{$size} {
		top: #{$size}px;
	}
	.right\:#{$size} {
		right: #{$size}px;
	}
	.bottom\:#{$size} {
		bottom: #{$size}px;
	}
	.left\:#{$size} {
		left: #{$size}px;
	}
}

.top\:half {
	top: 50%;
}
.right\:half {
	right: 50%;
}
.bottom\:half {
	bottom: 50%;
}
.left\:half {
	left: 50%;
}

.top\:full {
	top: 100%;
}
.right\:full {
	right: 100%;
}
.bottom\:full {
	bottom: 100%;
}
.left\:full {
	left: 100%;
}

.z-index\:1 {
	z-index: 1;
}
.z-index\:2 {
	z-index: 2;
}
.z-index\:3 {
	z-index: 3;
}
.z-index\:4 {
	z-index: 4;
}
