@each $size in $dimentionSizes {
    .height\:#{$size} {
        height: #{$size}px;
    }
    .max-height\:#{$size} {
        max-height: #{$size}px;
    }
    .width\:#{$size} {
        width: #{$size}px;
    }
}
