<!DOCTYPE html>

<body>
  <navbar-component (toggleDialog)="showDialog($event)"></navbar-component>
  <banner-carousel></banner-carousel>
  <div class="row">
    <div class="column:6">
      <category-card category="Male" bgcolor="green" image="/assets/images/homer.svg"></category-card>
    </div>
    <div class="column:6">
      <category-card category="Female" bgcolor="lightYellow" image="/assets/images/homer.svg"></category-card>
    </div>
  </div>
  <item-carousel></item-carousel>

  <ng-container *ngIf="DialogState === 1 else dialogState2">
    <dialog-component [FormState]="1" (toggleDialog)="showDialog($event)"></dialog-component>
  </ng-container>

  <ng-template #dialogState2>
    <ng-container *ngIf="DialogState === 2 else dialogClose">
      <dialog-component [FormState]="2" (toggleDialog)="showDialog($event)"></dialog-component>
    </ng-container>
  </ng-template>

  <ng-template #dialogClose>
  </ng-template>

  <native-brand-inspiration></native-brand-inspiration>
  <footer-component></footer-component>
  <native-brand-inspiration>
  </native-brand-inspiration>
</body>
