<!DOCTYPE html>

<body>
  <navbar-component></navbar-component>
  <banner-carousel></banner-carousel>
  <item-carousel></item-carousel>
  <div class="row">
    <div class="column:4">
      <native-item-card
              itemImg="https://via.placeholder.com/300.png"
              brandName="Brand Name"
              itemName="Item Name"
              itemPrice="IDR 123456">
      </native-item-card>
    </div>
  </div>
  <native-brand-inspiration></native-brand-inspiration>
  <footer-component></footer-component>
  <native-brand-inspiration>
  </native-brand-inspiration>
</body>
