<form role="form" [formGroup]="form" class="form column:12 font-color:black">
    <div class="form-children border-color:black column:11">
        <img src="/assets/images/male-user-filled.png" class="form-children-image">
        <input type="text" formControlName="email" placeholder="Email" class="form-children-input font-color:black column:10">
    </div>
    <div class="form-children border-color:black column:11">
        <img src="/assets/images/lock-filled.png" class="form-children-image">
        <input type="password" formControlName="password" placeholder="Password" class="form-children-input font-color:black column:10">
    </div>
    <div>
        <button class="form-button background-color:pink font-color:white" (click)="submitForm()">Sign In</button>
    </div>
    <div class="form-footer font-color:black">
        Don't have an account? <button (click)="gotoSignup()" class="font-color:black">Sign Up</button>
    </div>
</form>
