$fontFamilies: (
    avenir-light : 'Avenir-Light',
    avenir-black : 'Avenir-Black',
    avenir-heavy : 'Avenir-Heavy',
    avenir-book : 'Avenir-Book',
    avenir-lightoblique : 'Avenir-LightOblique'
);

$sizes: '0', '2', '5', '7', '10', '15', '20', '25', '30', '35', '40', '45', '50', '60', '65', '75', '80', '100';
$dimentionSizes: '0', '20', '25' ,'30', '40', '45', '50', '60', '75', '100', '200', '250', '300', '350', '500';
$borderWidth: '0', '1', '2';
$fontSizes: '10', '12', '13', '14', '16' , '18', '20', '22', '24', '28', '38', '45', '50';
$fontWeights: '400', '700';
$indexes: '1', '2', '3', '4', '5', '6', '7', '8', '9', '999';

$colors: (
        'transparent': 'transparent',
        'white': '#FFF',
        'brokenWhite': '#FEFFFC',
        'black': '#707070',
        'darkGreen': '#58BC96',
        'lightYellow': '#FFEC9F',
        'pink': '#F2C3BD',
        'mutedGreen': '#DFDDC5',
        'green': '#BBD38B',
        'lightBlue' : '#DFEBF0',
        'lightBrown' : '#E0E9DF',
        'orange' : '#F2A279'
);

$gutters: 15px;
$mobile_max_width: 768px;
$container_width: 1200px;

@import 'utility/_reset.scss';
@import 'utility/_type.scss';
@import 'utility/_typo.scss';
@import 'utility/_layout.scss';
@import 'utility/_align.scss';
@import 'utility/_margin.scss';
@import 'utility/_grid.scss';
@import 'utility/_flexbox.scss';
@import 'utility/_position.scss';
@import 'utility/_border.scss';
@import 'utility/_hide.scss';
@import 'utility/_color.scss';
@import 'utility/_font.scss';
@import 'utility/_size.scss';
@import 'utility/_animation.scss';
@import 'utility/_ratio.scss';
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

//angular material theme
@import "~@angular/material/theming";
@include mat-core();

@import 'utility/_theme.scss';

@include angular-material-theme($native-theme);

//font-awesome
$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";

.btn{
    padding: 15px 30px;
    border-radius: 50px;
    &:hover{
        background-color: #F4854D;
        transition: 0.25s ease-out;
    }
}
