<!--Item Card Component-->
<a [routerLink]="['/items/item/', itemID]" class="text-decoration:none">
    <mat-card class="margin:25 position:relative" style="background: rgba(223, 221, 197, 0.4);">

        <!--Item card image-->
        <img mat-card-image [src]="itemImg" alt="" class="background-color:white">

        <!--Item card bottom card containing data based on input-->
        <mat-card-content class="padding:5">
            <div class="row">
                <div class="column:6 display:flex flex-direction:column justify-content:space-between" style="height: 100px;">
                    <h1 class="font-size:16 font-family:avenir-book letter-spacing:5 margin-bottom:5">{{itemName}}</h1>
                    <h2 class="font-size:14 font-family:avenir-black letter-spacing:7">{{brandName}}</h2>
                </div>
                <div class="column:6 display:flex align-items:flex-end justify-content:flex-end">
                    <h2 class="font-size:16 font-family:avenir-heavy text-align:right">IDR {{itemPrice}}</h2>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</a>
