<style>
    .item-pagination /deep/ .ngx-pagination{
        position: absolute;
        right: 25px;
        bottom: 10px;
    }
</style>

<div class="row margin-top:25">
    <div class="column:3">
        <ul>
            <li *ngFor="let collection of collections" class="margin:10 font-size:18 font-family:avenir-book">
                {{collection}}
            </li>
        </ul>
    </div>
    <div class="column:9 position:relative padding-bottom:50">
        <h2 class="margin-left:40 font-size:18 font-family:avenir-black">Collection Name</h2>
        <ul>
            <div class="row">
                <li *ngFor="let item of items |paginate: { itemsPerPage: 15, currentPage: p }">
                    <native-item-card
                                itemImg={{item.itemImg}}
                                brandName={{item.brandName}}
                                itemName={{item.itemName}}
                                itemPrice={{item.itemPrice}}>
                        </native-item-card>
                </li>
            </div>
            <pagination-controls (pageChange)="p = $event" class="item-pagination"></pagination-controls>
        </ul>
    </div>
</div>
