<div class="navbar container column:12 font-color:black">
    <div class="border-right:2 display:flex align-content:center justify-content:center">
        <img #navbarLogo src="/assets/images/squared-menu-filled.png" class="object-fit:contain cursor:pointer margin-side:5" (click)="toggleNavbar()">
    </div>
    <div #loginRegister class="navbar-auth width:50" (mouseleave)="closeLoginRegister()">
        <img src="/assets/images/male-user-filled.png" class="object-fit:contain cursor:pointer margin-side:5" (mouseenter)="openLoginRegister()">
        <div  class="navbar-auth-list font-color:black">
            <div class="navbar-auth-list-link" (click)="showLogin()">Log In</div>
            <div class="navbar-auth-list-link" (click)="showRegister()">Register</div>
        </div>
    </div>
    <div class="display:flex align-content:center right:15 top:15 position:absolute">
        <img src="/assets/images/logo.png" class="object-fit:contain width:200 height:30 display:flex">
    </div>
</div>
<div #navbarList class="navbar-list">
    <div class="navbar-list-link border-color:hover:black">Home</div>
    <div class="navbar-list-link border-color:hover:black">About</div>
    <div class="navbar-list-link border-color:hover:black">Items</div>
    <div class="navbar-list-link border-color:hover:black">Contact Us</div>
</div>
