<div class="grid-1">
    <img src="https://via.placeholder.com/1000.png" alt="" id="img-1" class="object-fit:cover img-100">
    <h1 id="header-1" class="font-family:avenir-black font-size:38">Lorem Ipsum dolor sit amet</h1>
    <p id="par-1" class="font-family:avenir-light font-size:22">Lorem ipsum dolor sit amet, praesent complectitur vel et. Sed ex populo nemore praesent, te etiam simul sea. No quo eripuit debitis qualisque, ei eum sapientem imperdiet. Populo torquatos no mei, atqui mollis vivendo ea cum, est ne augue nobis suavitate. Ad elit adhuc tempor mel, ferri animal.</p>

    <img src="https://via.placeholder.com/1000.png" alt="" id="img-2" class="object-fit:cover img-100">
    <h1 id="header-2" class="font-family:avenir-black font-size:38">Lorem Ipsum dolor sit amet</h1>
    <p id="par-2" class="font-family:avenir-light font-size:22">Lorem ipsum dolor sit amet, praesent complectitur vel et. Sed ex populo nemore praesent, te etiam simul sea. No quo eripuit debitis qualisque, ei eum sapientem imperdiet. Populo torquatos no mei, atqui mollis vivendo ea cum, est ne augue nobis suavitate. Ad elit adhuc tempor mel, ferri animal.</p>

    <img src="https://via.placeholder.com/1000.png" alt="" id="img-3" class="object-fit:cover img-100">
    <h1 id="header-3" class="font-family:avenir-black font-size:38">Lorem Ipsum dolor sit amet</h1>
    <p id="par-3" class="font-family:avenir-light font-size:22">Lorem ipsum dolor sit amet, praesent complectitur vel et. Sed ex populo nemore praesent, te etiam simul sea. No quo eripuit debitis qualisque, ei eum sapientem imperdiet. Populo torquatos no mei, atqui mollis vivendo ea cum, est ne augue nobis suavitate. Ad elit adhuc tempor mel, ferri animal.</p>

</div>
