// CSS for both login and register form
.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-children {
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        border-bottom: solid 1px;
        margin-top: 40px;

        &-image {
            object-fit:contain;
            height:25px;
            margin: 0 5px;
        }

        &-input {
            margin-left: 5px;
            font-size: 16px;
        }

        &-error {
            margin-top: 5px;
            color: red;
            text-align: left;
        }
    }

    &-button {
        padding: 12px 40px;
        border-radius: 20px;
        font-size: 14px;
        cursor: pointer;
        margin-top: 40px;
    }

    &-footer {
        font-size: 14px;
        margin-top: 20px;
    }
}
